.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textarea {
    margin-right: 1rem;
}

.title {
    padding: 0rem 3rem;

}

.subtitle {
    padding: 0rem 3rem;

}