.row {
    display: flex;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;

}

.text {
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    font-size: 3rem;
}
