.container {
    display: flex;
    
}

.leftSide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
}

.leftSide > * {
    margin: 1rem;
    text-align: left;
}

.icons {
    display: flex;
    width: 150px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.link {
    height: 60px;
    width: 60px;
}


.linkedin {
    cursor: pointer;
    height: 100%;
    width: auto;
    margin: 0 0.5rem;
}

.github {
    cursor: pointer;
    height: 100%;
    width: auto;
    margin: 0 0.5rem;


}

.rightSide {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
}

.textInput {
    background-color: transparent;
    border: none;
    color: #F7E4DD;
    font-size: 1.5rem;
    width: 20rem;
    padding: 0.5rem;


}

.textInput::placeholder {
    color: #F7E4DD;


}

.selectInput {
    background-color: transparent;
    border: none;
    color: #F7E4DD;
    font-size: 1.5rem;
    width: 20rem;
    padding: 0.5rem;
    height: 150px;
}

.option {
    background-color: #323232;
}

.option::hover {
    background-color: #F7E4DD;
    color: #323232;
}

.textarea {
    background-color: transparent;
    color: #F7E4DD;
    font-size: 1.5rem;
    border: none;
    width: 20rem;
    resize: none;
    padding: 0.5rem;

}

.textarea::placeholder {
    color: #F7E4DD;
    font-size: 1.5rem;
    border: none;

}

.submit-btn {
    display: flex;
    color: #F7E4DD;
    padding: 0.2rem 0.5rem;
    background-color: #323232;
    margin-left: auto;
    margin-top: 1rem;
    justify-self: right;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}
