.formContainer {

}

.input {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    padding-left: 0.5rem;

}

.input::placeholder {
    color: #323232;
    font-size: 2rem;
}

.input:focus {
    outline: none;
}