html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to top right, #1F1F1F, #3B3B3B);
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.title {
  text-align: center;
  font-size: 3rem;
  margin: 2rem
}

.body {
  text-align: center;
  font-size: 1.5rem;
}

.standard-btn {
  display: flex;
  color: #F7E4DD;
  padding: 0.2rem 0.5rem;
  background-color: #323232;
  margin-left: auto;
  margin-top: 1rem;
  justify-self: right;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}


.standard-btn:hover {
  color: #1A1A1A;
  background-color: #F7E4DD;

}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

}

.hidden {
  display: none;
  opacity: 0;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

form > * {
  margin: 0.5rem;
  height: 3rem;
}

input::placeholder {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex > * {
  margin: 1rem;

}

textarea {
  height: 10rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;

}

footer {
  margin-top: auto;
  color: white;
}

