.toprightTxt {
    margin-left: auto;
    padding-right: 2rem;
    background-color: #F7E4DD;
    padding: 0.5rem;
    width: 50px;
    color: #2B2B2B;
    cursor: pointer;
}

.link {
color: white;
margin: 0 2rem;

}

.link:hover {
font-weight: 700;
}
