.toprightTxt {
    margin-left: auto;
    padding-right: 2rem;
    background-color: #F7E4DD;
    padding: 0.5rem;
    width: 50px;
    color: #2B2B2B;
    cursor: pointer;
}

.nav {
    position: absolute;
    display:flex;
    flex-direction: column;
    float:left;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1001;
}